
body{background:#ffd6e5;text-align:center;font-family:Arial;margin:0;padding:40px;}
.btn{display:block;background:#ff73a1;color:white;padding:15px;margin:15px auto;width:200px;border-radius:12px;text-decoration:none;font-size:20px;}
.card{background:white;padding:20px;margin:20px;border-radius:15px;}
.opt{margin:5px;padding:10px;border-radius:8px;border:1px solid #999;background:white;}
